@import 'colors';

$button-radius: 5px;

body {
	height: 100%;
}

header {
    height:100px; line-height:100px;
}

.logo {
    width: 300px;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.background {
  width: 100%;
}


nav {
    display: inline-block;
    float: right;
    margin-right: 20px;
}


nav a {
    margin-left: 20px;
    margin-right: 20px;
    font-family: "proxima-nova";
    font-size: 25px;
    color: #AAAAAA;
    text-decoration:none;
}

nav a:hover {

}


button {
	width: 400px;
	height: 80px;
	border-radius: $button-radius;
	border: none;
	position: relative;
	z-index: 2;
	color: white;
	font-family: "Open Sans";
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1px;
}

.student-action {
	background: $orange;
	box-shadow: 0 .3em 0 $orange - 40;
	text-shadow: 0 .2em 0 $orange - 30;
}

.sponsor-action {
	background: $blue;
	box-shadow: 0 .3em 0 $blue - 40;
	text-shadow: 0 .2em 0 $blue - 30;
}